{% extends 'myfavteam/base.html' %}

{% block title %} MyFavTeam App {% endblock %}

{% load humanize %}

{% block content %}
    <!-- Carousell: 1. next_game, 2. latest news and 3.last result -->
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" >
          <div class="item active">
            <!-img src="{{carousel_pic_0}}" alt="First slide">
            <div class="container">
              <div class="carousel-caption">
                <p>Next Game</p>
                {% if next_game.home %}
                  <h2>{{next_game.team}} vs {{next_game.team_against}}</h2>
                {% else %}
                  <h2>{{next_game.team_against}} vs {{next_game.team}}</h2>
                {% endif %}
                <p>{{next_game.date}}</p> 
                <p>{{next_game.stadium.name}}, {{next_game.stadium.city}}</p>
              </div>
            </div>
          </div>
          <div class="item">
            <!-img src="{{carousel_pic_1}}" alt="Second slide" height="500" width="1140">
            <div class="container">
              <div class="carousel-caption">
                  <h2><a class="a_no_color" href="{{latest_news.link}}">{{latest_news.title}}</a></h2>
                  <p><a class="a_no_color" href="{{latest_news.website.link}}">{{latest_news.website.name}}</a></p>
              </div>
            </div> 
          </div>
          <div class="item">
            <!-img src="{{carousel_pic_2}}" alt="Third slide" height="500" width="1140">
            <div class="container">
              <div class="carousel-caption">
                <p>Last Result</p>
                {% if last_game.home %}
                  <h2>{{last_game.team}} {{last_game.team_score}} : {{last_game.team_against}} {{last_game.against_score}}</h2>
                {% else %}
                  <h2>{{last_game.team_against}} {{last_game.against_score}} : {{last_game.team}} {{last_game.team_score}}</h2>
                {% endif %}
                <p>{{last_game.date}}</p>
                <p>{{last_game.stadium.name}}, {{last_game.stadium.city}}</p>
              </div>
            </div> 
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>

    <div class="container">  
      <!- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2><a class="a_no_color" href="/news/">News</a></h2>
          {% for news in news %}
           <div class="row">
               <div class="col-md-3">
                   <a href="{{news.link}}">
                      {% if news.image %}
                      <img class="" src="{{news.image.url}}" alt="" height="62" />
                      {% else %}
                      <img class="" src="holder.js/90x62/auto/#666:#999/text: image" alt="" height="62" />
                      {% endif%}
                   </a>
               </div>
               <div class="col-md-9">
                   <a href="{{news.link}}">{{news.title}}</a>
                   <br>
                   <div class="my-small-txt"> <a class="a_no_color" href="{{news.website.link}}">{{news.website.name}}</a> - {{ news.date|timesince }} ago </div>
               </div>
           </div>
           <li class="divider"></li>
          {% endfor %}
        </div>
        <div class="col-md-4">
          <h2><a class="a_no_color" href="/social/">Social</a></h2>
          <a class="twitter-timeline" href="https://twitter.com/hashtag/myfavteamapp" data-widget-id="532304836914475009">#myfavteamapp Tweets</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
       </div>
        <div class="col-md-4">
          <h2><a class="a_no_color" href="/schedule/">Schedule</a></h2>
          <div class="list-group">
            <a href="#" class="list-group-item active">
              <h4 class="list-group-item-heading">Next Games</h4>
            </a>
            {% for next_games in next_games %}
                <a href="#" class="list-group-item">
                {% if next_games.home %}
                    <h4 class="list-group-item-heading">@ {{next_games.team_against}}</h4>
                {% else %}
                    <h4 class="list-group-item-heading">vs {{next_games.team_against}}</h4>
                {%endif%}
                <p class="list-group-item-text">{{next_games.date}} - {{next_games.stadium.name}} </p>
                </a>
            {% endfor %}
            <a href="#" class="list-group-item active">
              <h4 class="list-group-item-heading">Last Results</h4>
            </a>            
            {% for last_games in last_games %}
                <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">{{last_games.team}} {{last_games.team_score}} : {{last_games.team_against}} {{last_games.against_score}}</h1>
                <p class="list-group-item-text">{{last_games.date|date:"M/d"}}</p>
                </a>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h2><a class="a_no_color" href="/stats/">Stats</a></h2>
          <table class="table table-striped table-condensed">
            <thead>
              <tr>
                <th>Player</th>
                <th>PPG</th>
                <th>RPG</th>
                <th>APG</th>
                <th>MPG</th>
              </tr>
            </thead>
            <tbody>
            {% for player in stats %}
              <tr>
                <td>{{player.player.first_name}} {{player.player.last_name}}</td>
                <td>{{player.points_per_game|floatformat:1}}</td>
                <td>{{player.rebounds_per_game|floatformat:1}}</td>
                <td>{{player.assists_per_game|floatformat:1}}</td>
                <td>{{player.minutes_per_game|floatformat:1}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-md-4">
          <h2><a class="a_no_color" href="/standings/">Standings</a></h2>
          <table class="table table-striped table-condensed">
            <thead>
              <tr>
                <th>Team</th>
                <th>W</th>
                <th>L</th>
                <th>PCT</th>
                <th>GB</th>
              </tr>
            </thead>
            <tbody>
            {% for standings in standings %}
              <tr>
                <td>{{standings.team}}</td>
                <td>{{standings.wins}}</td>
                <td>{{standings.losses}}</td>
                <td>{{standings.win_pct|floatformat:3}}</td>
                <td>{{standings.games_behind}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
       </div>
        <div class="col-md-4">
          <h2><a class="a_no_color" href="/roster/">Roster</a></h2>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Age</th>
                <th>Anual Salary</th>
              </tr>
            </thead>
            <tbody>
              {% for player in roster %}
              <tr>
                <td>{{player.first_name}} {{player.last_name}}</td>
                <td>{{player.position}}</td>
                <td>{{player.age}}</td>
                <td>$ {%if player.salary > 999999%}{{player.salary|intword}}{%else%}{{player.salary|intcomma}}{%endif%}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div> <!-- /container -->
{% endblock %}
