{% extends 'myfavteam/base.html' %}
     
{% block title %} Social {% endblock %}
     
{% block content %}
<div class="container">
  <h2 align="center">Tweets from everybody</h2>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
  <a class="twitter-timeline" href="https://twitter.com/hashtag/myfavteamapp" 
     data-widget-id="532304836914475009"
     width="900"
     height="300">#myfavteamapp from Everybody</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div class="col-md-3">
    </div>
    </div>
    <h2 align="center">Insiders</h2>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
  <a class="twitter-timeline" href="https://twitter.com/hashtag/myfavteamapp"
     data-widget-id="532304836914475009"
     width="900"
     height="300">#myfavteamapp from Everybody</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div class="col-md-3">
    </div>
    </div>
    <h2 align="center">Players</h2>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
  <a class="twitter-timeline" href="https://twitter.com/hashtag/myfavteamapp"
     data-widget-id="532304836914475009"
     width="900"
     height="300">#myfavteamapp from Everybody</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div class="col-md-3">
    </div>
    </div>
    <h2 align="center">Staff</h2>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
  <a class="twitter-timeline" href="https://twitter.com/hashtag/myfavteamapp"
     data-widget-id="532304836914475009"
     width="900"
     height="300">#myfavteamapp from Everybody</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div class="col-md-3">
    </div>
    </div>
</div> <!-- /container -->
{% endblock %}
