{% extends 'myfavteam/base.html' %}

{% block title %} MyFavTeam App {% endblock %}

{% load humanize %}

{% block content %}
    <!-- Carousell: 1. next_game, 2. latest news and 3.last result -->
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" >
          <div class="item active {{team.short_name}}">
            <!-img src="{{carousel_pic_0}}" alt="First slide">
            <div class="container">
              <div class="carousel-caption">
                <p>Next Game</p>
                {% if next_game.is_home %}
                  <h2>{{next_game.team}} vs {{next_game.team_against}}</h2>
                {% else %}
                  <h2>{{next_game.team_against}} vs {{next_game.team}}</h2>
                {% endif %}
                <p>{{next_game.date}}</p> 
                <p>{{next_game.stadium.name}}, {{next_game.stadium.city}}</p>
              </div>
            </div>
          </div>
          <div class="item {{team.short_name}}">
            <!-img src="{{carousel_pic_1}}" alt="Second slide" height="500" width="1140">
            <div class="container">
              <div class="carousel-caption">
                  <h2><a class="a_no_color" href="{{latest_news.link}}">{{latest_news.title}}</a></h2>
                  <p><a class="a_no_color" href="{{latest_news.website.link}}">{{latest_news.website.name}}</a></p>
              </div>
            </div> 
          </div>
          <div class="item {{team.short_name}}">
            <!-img src="{{carousel_pic_2}}" alt="Third slide" height="500" width="1140">
            <div class="container">
              <div class="carousel-caption">
                <p>Last Result</p>
                {% if last_game.is_home %}
                  <h2>{{last_game.team}} {{last_game.team_score}} : {{last_game.team_against}} {{last_game.team_against_score}}</h2>
                {% else %}
                  <h2>{{last_game.team_against}} {{last_game.team_against_score}} : {{last_game.team}} {{last_game.team_score}}</h2>
                {% endif %}
                <p>{{last_game.date}}</p>
                <p>{{last_game.stadium.name}}, {{last_game.stadium.city}}</p>
              </div>
            </div> 
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>

    <div class="container">  
      <!- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2><a class="a_no_color"
                 {% if team %}
                   href="{{team.get_news_url}}"
                 {% else %}
                   href="/news/"
                 {%endif%}
              >News</a></h2>
          {% for news in news %}
           <div class="row">
               <div class="col-md-3 my_news_img_col">
                   <a href="{{news.link}}">
                     <!--  src="{{news.image.url}}" -->
                     <img class="my_news_index_img"
                       {% if news.image %}
                         src="{{news.image}}"
                       {% elif news.website.image %}
                         src="{{news.website.image}}"
                       {% else %}
                         src="holder.js/90x62/auto/#444:#777/text: image"
                       {% endif%}
                     />
                   </a>
               </div>
               <div class="col-md-9">
                   <a href="{{news.link}}">{{news.title}}</a>
                   <br>
                   <div class="my-small-txt"> <a class="a_no_color" href="{{news.website.link}}">{{news.website.name}}</a> - {{ news.date|timesince }} ago </div>
               </div>
           </div>
           <li class="divider"></li>
          {% endfor %}
        </div>
        <div class="col-md-4">
          <h2><a class="a_no_color" 
                 {% if team %}
                   href="{{team.get_social_url}}"
                 {% else %}                   
                   href="/social/"
                 {%endif%}
              >Social</a></h2>
          {% if team %}
          <a class="twitter-timeline" 
             href="https://twitter.com/myfavteamapp/lists/{{team.short_name}}" 
             data-widget-id="554319118124711936"
             data-list-owner-screen-name = "myfavteamapp"
             data-list-slug = "{{team.short_name}}"
             data-show-replies="false"
             height="350"
             data-chrome="noheader">{{team.short_name}}</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          {% else %}
          <a class="twitter-timeline" 
             href="https://twitter.com/hashtag/myfavteamapp" 
             data-widget-id="554330505450385408"
             height="350">#myfavteamapp Tweets</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          {% endif %}
        </div>
        <div class="col-md-4">
          <h2><a class="a_no_color" 
                 {% if team %}
                   href="{{team.get_schedule_url}}"
                 {% else %} 
                   href="/schedule/"
                 {%endif%}
              >Schedule</a></h2>
          <div class="list-group">
            <div  class="list-group-item active">
              <h4 class="list-group-item-heading">Next Games</h4>
            </div>
            {% for next_games in next_games %}
              <div class="list-group-item">
              {% if next_games.is_home %}
                  <h4 class="list-group-item-heading">vs {{next_games.team_against}}</h4>
              {% else %}
                  <h4 class="list-group-item-heading">@ {{next_games.team_against}}</h4>
              {%endif%}
                <p class="list-group-item-text">{{next_games.date}} - {{next_games.stadium.name}} </p>
                </div>
            {% endfor %}
            <div class="list-group-item active">
              <h4 class="list-group-item-heading">Last Results</h4>
            </div>            
            {% for last_game in last_games %}
                <div class="list-group-item">
                <h4 class="list-group-item-heading">{%if last_game.team_score > last_game.team_against_score%}W{%else%}L{%endif%} {{last_game.team_score}} : {{last_game.team_against_score}} {% if last_game.is_home %} vs {% else %} @ {%endif%} {{last_game.team_against}}</h4>
                <p class="list-group-item-text">{{last_game.date|date:"M. d, Y"}}</p>
                </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h2><a class="a_no_color"
                 {% if team %}
                   href="{{team.get_stats_url}}"
                 {% else %}                   
                   href="/stats/"
                 {%endif%}
              >Stats</a></h2>
          {% include 'myfavteam/table_stats_index.html' %}
        </div>
        <div class="col-md-4">
          <h2><a class="a_no_color"
                 {% if team %}
                   href="{{team.get_standings_url}}"
                 {% else %}
                   href="/standings/"
                 {%endif%}
              >Standings</a></h2>
          {% include 'myfavteam/table_standings.html' %}
       </div>
        <div class="col-md-4">
          <h2><a class="a_no_color"
                 {% if team %}
                   href="{{team.get_roster_url}}"
                 {% else %}
                   href="/roster/"
                 {%endif%}
              >Roster</a></h2>
          {% include 'myfavteam/table_roster_index.html' %} 
        </div>
      </div>
    </div> <!-- /container -->
{% endblock %}
