{% extends 'myfavteam/base.html' %}
     
{% block title %} News {% endblock %}
     
{% block content %}
<div class="container">
  <h1> News </h1>
    <div class="row">
    <div class="col-md-12">
    {% for news in news %}
           <li class="divider"></li>
           <div class="row">
               <div class="col-md-2 my_news_img_col">
                   <a href="{{news.link}}">
                      <img 
                        class="my_news_img" 
                        {% if news.image %}
                          src="{{news.image}}"
                        {% elif news.website.image %}
                          src="{{news.website.image }}"
                        {% else %}
                          src="{{STATIC_URL}}holder.js/356x200/auto/#666:#999/text: image"
                        {% endif %}
                      >
                   </a>
               </div>
               <div class="col-md-10 my_news_col">
                   <a class="a_news_color" href="{{news.link}}"><h2>{{news.title}}</h2></a>
                   {% if news.description %}
                   <!-- p font-style="italic"> {{news.description}}</p> -->
                   {% endif %}
                   {% if news.text %}
                   <p>{{news.text|truncatewords:100}}</p>
                   {% endif %}
                   <div class="my-news-website-txt"> 
                     <a class="a_no_color" 
                        href="{{news.website.link}}">{{news.website.name}}</a> - {{ news.date|timesince }} ago </div>
               </div>
           </div>
    {% endfor %}
    </div>
    </div> 
</div> <!-- /container -->
{% endblock %}
